@font-face {
  font-family: "iconfont"; /* Project id 4208231 */
  src: url('//at.alicdn.com/t/c/font_4208231_6jipz1kew9r.woff2?t=1691829645162') format('woff2'),
       url('//at.alicdn.com/t/c/font_4208231_6jipz1kew9r.woff?t=1691829645162') format('woff'),
       url('//at.alicdn.com/t/c/font_4208231_6jipz1kew9r.ttf?t=1691829645162') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 25px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ:before {
  content: "\e65e";
}

.icon-github:before {
  content: "\ea0b";
}

.icon-shejiaotubiao-46:before {
  content: "\e64b";
}

.icon-bilibili:before {
  content: "\e609";
}


