#veditor {
	background-image: url(../img/Valine.gif);
    width: 100px;
	height: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-color: rgba(255, 255, 255, 0);
	resize: vertical
}
